{% extends "products_monitor/base.html" %}

{% block content %}
<br>
<div>
  <h2>Brands</h2>
  {% if brand_list %}
    <ul>
      {% for brand in brand_list %}
        <li><a href="{{ brand.url }}">{{ brand.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
      <p>No brands are available.</p>
  {% endif %}
</div>

<div>
  <h2>Newest Products</h2>
  {% if product_list_new %}
    <ul>
      {% for product in product_list_new %}
        <li><a href="{% url 'products_monitor:product_detail' product.id }">{{ product.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
      <p>No products are available.</p>
  {% endif %}
</div>

<div>
  <h2>Just Restocked</h2>
  {% if product_list_restock %}
    <ul>
      {% for product in product_list_restock %}
        <li><a href="{% url 'products_monitor:product_detail' product.id }">{{ product.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
      <p>No products are available.</p>
  {% endif %}
</div>

{% endblock %}
