{% extends "base.html" %}

{% block content %}
<br>
<div>
  <a href="{% url 'products_monitor:brands' %}"><h2>Brands</h2></a>
  {% if brand_list %}
    <div class="row-eq-height">
      {% for brand in brand_list %}
        <div class="col-sm p-5 m-auto">
            <img src="{{ brand.logo_url }}" class="img-fluid">
        </div>
        {% if forloop.counter|divisibleby:5 %}
          </div><div class="row-eq-height">
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
      <p>No brands are available.</p>
  {% endif %}
</div>
<br>
<div>
  <h2>NEWEST PRODUCTS</h2>
  {% if product_list_new %}
    <div class="card-deck">
      {% for product in product_list_new %}
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex">
          <div class="card text-center flex-fill border-light">
            <a href="{% url 'products_monitor:product_detail' product.id %}">
              <img src="{{ product.picture_url }}" class="card-img-top product-img-index">
            </a>
            <div class="card-body">
              <a href="{% url 'products_monitor:product_detail' product.id %}" class="card-title text-center">
                <span>{{ product.brand }}</span><br>
                <span class="product-name">{{ product.name }}</span>
              </a>
              <p class="card-text text-center">${{ product.price }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
      <p>No products are available.</p>
  {% endif %}
</div>
<br>
<div>
  <h2>JUST RESTOCKED</h2>
  {% if product_list_restock %}
    <div class="card-deck">
      {% for product in product_list_restock %}
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex">
          <div class="card text-center flex-fill border-light">
            <a href="{% url 'products_monitor:product_detail' product.id }">
              <img src="{{ product.picture_url }}" class="card-img-top product-img-index">
            </a>
            <div class="card-body">
              <a href="{% url 'products_monitor:product_detail' product.id }" class="card-title text-center">
                <span>{{ product.brand }}</span><br>
                <span class="product-name">{{ product.name }}</span>
              </a>
              <p class="card-text text-center">${{ product.price }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
      <p>No products are available.</p>
  {% endif %}
</div>

{% endblock %}
