{% extends "products_monitor/base.html" %}

{% block content %}
<br>
  <h2 class="text-center">ALL PRODUCTS</h2>
  {% if product_list %}
    <div class="row-eq-height">
      {% for product in product_list %}
        <div class="col-sm m-auto">
          <a href="{% url 'products_monitor:product_detail' product.id }">
            <img src="{{ product.picture_url }}" class="card-img-top">
          </a>
          <div class="card-body">
            <a href="{% url 'products_monitor:product_detail' product.id }" class="card-title">
              {{ product.name }}
            </a>
            <p class="card-text">{{ product.price }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
      <p>No products are available.</p>
  {% endif %}

{% endblock %}
