{% extends "base.html" %}

{% block content %}
    <h2>Search</h2>

    <form method="get" action=".">
            {{ form.q }}
                    <input type="submit" value="Search">
    </form>

        {% if query %}
            <h3>Results</h3>
            {% if page.object_list %}
            {% for result in page.object_list %}
                <p>
                    <a href="{% url 'products_monitor:product_detail' result.object.id %}">{{ result.object.name }}</a>
                </p>
            {% endfor %}
            {% else %}
                <p>No results found.</p>
            {% endif %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
{% endblock %}
