{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<br>
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <div class="form-group form-row form-inline">
                    <label for="id_new_password1" class="col-2 col-form-label">New password</label>
                    {% render_field form.new_password1 class="form-control col-2" %}
                    <small class="text-danger">
                      {{ form.new_password1.errors }}
                    </small>
            </div>
            <div class="form-group form-row form-inline">

                    <label for="id_new_password2" class="col-2 col-form-label">Confirm password</label>
                    {% render_field form.new_password2 class="form-control col-2" %}
                    <small class="text-danger">
                      {{ form.new_password2.errors }}
                    </small>
            </div>
            <input type="submit" value="Change my password" class="btn btn-primary"/>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
